/* Pattern Library Global Variables */

/*
@font-face {
	font-family:VoguePSMT;
	src: url('fonts/VoguePSMT_gdi.ttf') format('truetype');
    font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-201D;
}
*/

/* Grid Variables */
$column-count: 12;
$gutter: 1em;