form {
    .field-group {
        margin-bottom: 1em;
        label {
            font-family: $heading-font-family;
            display: block;
            margin-bottom: $baseline / 5;
            font-weight: bold;
        }
        input:not([class^='btn']),
        textarea {
            border: 1px solid $field-border-color;
            padding: $baseline / 2;
            &.field-fw {
                width: 100%
            }
            &:focus {
                outline: none;
            }
            &:hover {
                border: 1px solid darken($field-border-color, 15%);
            }
        }
        .help {
            @extend small;
            margin: $baseline /3 0 0;
            color: $muted-text-color;
            font-style: italic;
        }
        &.field-error {
            label, .help {
                color: $field-error-color;
            }
            input {
                border: 1px solid lighten($field-error-color, 30%);
            }
        }
    }
    .required {
        color: $field-required-color;
    }
    fieldset {
        border-color: $field-border-color;
        padding: $baseline;
        margin-bottom: $baseline;
        legend {
            @extend h4;
            padding: 0 $baseline/3;
        }
    }
    input[type='checkbox'],
    input[type='radio'] {
        display: none;
    }
    input[type='checkbox'] + label:before {
        background-color: white;
        border: 1px solid $field-border-color;
        content: "";
        display: inline-block;
        height: $baseline;
        margin: -2px $baseline 0 0;
        vertical-align: middle;
        width: $baseline;
        font-size: $baseline /2;
        line-height: $baseline;
        text-align: center;
    }
    input[type='checkbox']:checked + label:before {
        content: "\2713";
    }
    input[type='radio'] + label:before {
        background-color: white;
        border: 1px solid $field-border-color;
        content: "";
        display: inline-block;
        height: $baseline;
        margin: -2px $baseline 0 0;
        vertical-align: middle;
        width: $baseline;
        border-radius: $baseline;
        font-size: $baseline /2;
        line-height: $baseline;
        text-align: center;
    }
    input[type='radio']:checked + label:before {
        content: "\2022";
    }
}
